.admin-container{
  width: 100%;
  .admin-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    button{
      @include button;
    }
  }
  .admin-items, .admin-add{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    .admin-item{
      border: 1px solid black;
      border-radius: 3px;
      padding: 10px;
      form{
        .form-row{
          display: grid;
          grid-template-columns: 100px auto;
          gap: 10px;
          margin-bottom: 10px;
        }
        button{
          @include button;
          margin: 10px 10px 0 0;
        }
      }
      input{
        padding: 5px;
        margin-right: 20px;
        font-size: 18px;
        background-color: rgba(255, 255, 255, .6);
        border: none;
        border-radius: 4px;
        &:focus{
          outline:none;
          background-color: rgba(255, 255, 255, .8);
        }
      }
    }
    .new{
      margin-bottom: 20px;
    }
  }
  .admin-add{
    grid-template-columns: 1fr;
  }
}