.cart-container{
  width: 100%;
  .cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .name{
      margin-right: 20px;
    }
    .price{
      display: flex;
      align-items: center;
      h4{
        width: 120px;
        text-align: end;
        margin-right: 20px;
      }
      input{
        margin: 0 20px;
        font-size: 18px;
        background-color: rgba(255, 255, 255, .4);
        border: none;
        padding: 10px;
        border-radius: 4px;
        width: 60px;
        &:focus{
          outline:none;
          background-color: rgba(255, 255, 255, .7);
        }
      }
    }
  }
  .cart-footer{
    display: flex;
    justify-content: flex-end;
    .cart-footer-inner{
      h2{
        text-align:end;
        margin-right: 20px;
      }
      button{
        @include button;
        float:right;
        width: 100px;
        margin: 10px 20px 0 0;
      }
    }
  }
  hr{
    margin: 10px 0 ;
    border:none;
    border-bottom: 1px solid black;
  }
}