.order-container{
  width: 100%;
  .order-search{
    margin: 30px auto 20px;
    width: fit-content;
    height: fit-content;
    input{
      @include text-input;
      margin-right: 20px;
    }
    button{
      margin-bottom:10px;
      @include button;
    }
  }
  .order-header{
    margin-bottom:10px;
    button{
      margin-bottom:10px;
      @include button;
    }
  }
  .order-item{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .name{
      margin-right: 20px;
    }
    .price{
      width: 500px;
      display: flex;
      align-items: center;
      justify-content:space-between;
      .quantity{
        display: flex;
        align-items: center;
        justify-content:space-between;
        .multiplied{
          margin: 0 20px;
        }
        h4{
          text-align: end;
          margin-right: 20px;
        }
      }
    }
  }
  .order-footer{
    display: flex;
    justify-content: flex-end;
    .order-footer-inner{
      h3{
        text-align:end;
        margin-right: 20px;
      }
    }
  }
  hr{
    margin: 10px 0 ;
    border:none;
    border-bottom: 1px solid black;
  }
  .nothing-inside{
    text-align: center;
  }
}

@media only screen and (max-width: 1000px){
  .order-container{
    h3, h4{
      font-size:32px;
    }
    .order-item{
      padding: 5px 20px;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      .name{
        margin: 0;
      }
      .price{
        width: 100%;
        .quantity{
          .multiplied{
            margin-left:0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .order-container{
    .order-search{
      input{
        width:100%;
        max-width:300px;
        margin:auto;
      }
      button{
        width: fit-content;
        margin-top:20px;
      }
    }
    .order-header{
      h3{
        line-break: anywhere;
      }
    }
    .order-item{
      padding: 5px 0;
      .name{
        margin: 0;
      }
      .price{
        width: 100%;
        .quantity-input{
          .delete-button{
            margin: 0 20px 0 0;
          }
          .multiplied{
            margin: 0 10px;
          }
        }
      }
    }
    .order-footer{
      .order-footer-inner{
        h3{
          margin-right: 0;
        }
        button{
          margin: 10px 0;
        }
      }
    }
  }
}