.pizza-list-container{
  width: 100%;
  .pizza-list-header{
    margin-bottom:20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-container{
      input{
        @include text-input
      }
      button{
        @include button;
        margin-left: 20px;
      }
      #reset-button{
        margin-left: 10px;
      }
    }
    .vegan-check{
      input{
        margin-right: 10px;
      }
      i{
        color: green;
      }
    }
  }
  .nothing-found{
    text-align: center;
  }
}

@media only screen and (max-width: 1000px){
  .pizza-list-container{
    .pizza-list-header{
      h2{
        display:none;
      }
    }
  }
}

@media only screen and (max-width: 800px){
  .pizza-list-container{
    .pizza-list-header{
      display: initial;
      .vegan-check{
        margin-top: 15px;
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .pizza-list-container{
    .pizza-list-header{
      .search-container{
        input{
          width: 100%;
        }
        button{
          margin:10px 10px 0px 0px;
        }
        #reset-button{
          margin:0;
        }
      }
    }
  }
}