.pizza-list-container{
  width: 100%;
  .pizza-list-item{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid red;
    height: 200px;
    display: grid;
    grid-template-columns: 180px auto 100px;
    gap: 20px;
    .pizza-image{
      height: 180px;
      img{
        height: 100%;
      }
    }
  }
}