*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  background: url("../../assets/images/pizza_bg.jpg") center/cover no-repeat;
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

#root{
  height: 100%;
}

a{
  color: black;
  text-decoration: none;
}